@font-face {
  font-family: 'jc-icons';
  src:  url('fonts/jc-icons.eot?v0bi9r');
  src:  url('fonts/jc-icons.eot?v0bi9r#iefix') format('embedded-opentype'),
    url('fonts/jc-icons.ttf?v0bi9r') format('truetype'),
    url('fonts/jc-icons.woff?v0bi9r') format('woff'),
    url('fonts/jc-icons.svg?v0bi9r#jc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="jc-"], [class*=" jc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jc-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jc-activity:before {
  content: "\e900";
}
.jc-activity-heart:before {
  content: "\e901";
}
.jc-airplay:before {
  content: "\e902";
}
.jc-airpods:before {
  content: "\e903";
}
.jc-alarm-clock:before {
  content: "\e904";
}
.jc-alarm-clock-check:before {
  content: "\e905";
}
.jc-alarm-clock-minus:before {
  content: "\e906";
}
.jc-alarm-clock-off:before {
  content: "\e907";
}
.jc-alarm-clock-plus:before {
  content: "\e908";
}
.jc-alert-circle:before {
  content: "\e909";
}
.jc-alert-hexagon:before {
  content: "\e90a";
}
.jc-alert-octagon:before {
  content: "\e90b";
}
.jc-alert-square:before {
  content: "\e90c";
}
.jc-alert-triangle:before {
  content: "\e90d";
}
.jc-align-bottom-01:before {
  content: "\e90e";
}
.jc-align-bottom-02:before {
  content: "\e90f";
}
.jc-align-center:before {
  content: "\e910";
}
.jc-align-horizontal-centre-01:before {
  content: "\e911";
}
.jc-align-horizontal-centre-02:before {
  content: "\e912";
}
.jc-align-justify:before {
  content: "\e913";
}
.jc-align-left:before {
  content: "\e914";
}
.jc-align-left-01:before {
  content: "\e915";
}
.jc-align-left-02:before {
  content: "\e916";
}
.jc-align-right:before {
  content: "\e917";
}
.jc-align-right-01:before {
  content: "\e918";
}
.jc-align-right-02:before {
  content: "\e919";
}
.jc-align-top-arrow-01:before {
  content: "\e91a";
}
.jc-align-top-arrow-02:before {
  content: "\e91b";
}
.jc-align-vertical-center-01:before {
  content: "\e91c";
}
.jc-align-vertical-center-02:before {
  content: "\e91d";
}
.jc-anchor:before {
  content: "\e91e";
}
.jc-annotation:before {
  content: "\e91f";
}
.jc-annotation-alert:before {
  content: "\e920";
}
.jc-annotation-check:before {
  content: "\e921";
}
.jc-annotation-dots:before {
  content: "\e922";
}
.jc-annotation-heart:before {
  content: "\e923";
}
.jc-annotation-info:before {
  content: "\e924";
}
.jc-annotation-plus:before {
  content: "\e925";
}
.jc-annotation-question:before {
  content: "\e926";
}
.jc-annotation-x:before {
  content: "\e927";
}
.jc-announcement-01:before {
  content: "\e928";
}
.jc-announcement-02:before {
  content: "\e929";
}
.jc-announcement-03:before {
  content: "\e92a";
}
.jc-archive:before {
  content: "\e92b";
}
.jc-arrow-block-down:before {
  content: "\e92c";
}
.jc-arrow-block-left:before {
  content: "\e92d";
}
.jc-arrow-block-right:before {
  content: "\e92e";
}
.jc-arrow-block-up:before {
  content: "\e92f";
}
.jc-arrow-circle-broken-down:before {
  content: "\e930";
}
.jc-arrow-circle-broken-down-left:before {
  content: "\e931";
}
.jc-arrow-circle-broken-down-right:before {
  content: "\e932";
}
.jc-arrow-circle-broken-left:before {
  content: "\e933";
}
.jc-arrow-circle-broken-right:before {
  content: "\e934";
}
.jc-arrow-circle-broken-up:before {
  content: "\e935";
}
.jc-arrow-circle-broken-up-left:before {
  content: "\e936";
}
.jc-arrow-circle-broken-up-right:before {
  content: "\e937";
}
.jc-arrow-circle-down:before {
  content: "\e938";
}
.jc-arrow-circle-down-left:before {
  content: "\e939";
}
.jc-arrow-circle-down-right:before {
  content: "\e93a";
}
.jc-arrow-circle-left:before {
  content: "\e93b";
}
.jc-arrow-circle-right:before {
  content: "\e93c";
}
.jc-arrow-circle-up:before {
  content: "\e93d";
}
.jc-arrow-circle-up-left:before {
  content: "\e93e";
}
.jc-arrow-circle-up-right:before {
  content: "\e93f";
}
.jc-arrow-down:before {
  content: "\e940";
}
.jc-arrow-down-left:before {
  content: "\e941";
}
.jc-arrow-down-right:before {
  content: "\e942";
}
.jc-arrow-left:before {
  content: "\e943";
}
.jc-arrow-narrow-down:before {
  content: "\e944";
}
.jc-arrow-narrow-down-left:before {
  content: "\e945";
}
.jc-arrow-narrow-down-right:before {
  content: "\e946";
}
.jc-arrow-narrow-left:before {
  content: "\e947";
}
.jc-arrow-narrow-right:before {
  content: "\e948";
}
.jc-arrow-narrow-up:before {
  content: "\e949";
}
.jc-arrow-narrow-up-left:before {
  content: "\e94a";
}
.jc-arrow-narrow-up-right:before {
  content: "\e94b";
}
.jc-arrow-right:before {
  content: "\e94c";
}
.jc-arrow-square-down:before {
  content: "\e94d";
}
.jc-arrow-square-down-left:before {
  content: "\e94e";
}
.jc-arrow-square-down-right:before {
  content: "\e94f";
}
.jc-arrow-square-left:before {
  content: "\e950";
}
.jc-arrow-square-right:before {
  content: "\e951";
}
.jc-arrow-square-up:before {
  content: "\e952";
}
.jc-arrow-square-up-left:before {
  content: "\e953";
}
.jc-arrow-square-up-right:before {
  content: "\e954";
}
.jc-arrow-up:before {
  content: "\e955";
}
.jc-arrow-up-left:before {
  content: "\e956";
}
.jc-arrow-up-right:before {
  content: "\e957";
}
.jc-arrows-down:before {
  content: "\e958";
}
.jc-arrows-left:before {
  content: "\e959";
}
.jc-arrows-right:before {
  content: "\e95a";
}
.jc-arrows-triangle:before {
  content: "\e95b";
}
.jc-arrows-up:before {
  content: "\e95c";
}
.jc-asterisk-01:before {
  content: "\e95d";
}
.jc-asterisk-02:before {
  content: "\e95e";
}
.jc-at-sign:before {
  content: "\e95f";
}
.jc-atom-01:before {
  content: "\e960";
}
.jc-atom-02:before {
  content: "\e961";
}
.jc-attachment-01:before {
  content: "\e962";
}
.jc-attachment-02:before {
  content: "\e963";
}
.jc-award-01:before {
  content: "\e964";
}
.jc-award-02:before {
  content: "\e965";
}
.jc-award-03:before {
  content: "\e966";
}
.jc-award-04:before {
  content: "\e967";
}
.jc-award-05:before {
  content: "\e968";
}
.jc-backpack:before {
  content: "\e969";
}
.jc-bank:before {
  content: "\e96a";
}
.jc-bank-note-01:before {
  content: "\e96b";
}
.jc-bank-note-02:before {
  content: "\e96c";
}
.jc-bank-note-03:before {
  content: "\e96d";
}
.jc-bar-chart-01:before {
  content: "\e96e";
}
.jc-bar-chart-02:before {
  content: "\e96f";
}
.jc-bar-chart-03:before {
  content: "\e970";
}
.jc-bar-chart-04:before {
  content: "\e971";
}
.jc-bar-chart-05:before {
  content: "\e972";
}
.jc-bar-chart-06:before {
  content: "\e973";
}
.jc-bar-chart-07:before {
  content: "\e974";
}
.jc-bar-chart-08:before {
  content: "\e975";
}
.jc-bar-chart-09:before {
  content: "\e976";
}
.jc-bar-chart-10:before {
  content: "\e977";
}
.jc-bar-chart-11:before {
  content: "\e978";
}
.jc-bar-chart-12:before {
  content: "\e979";
}
.jc-bar-chart-circle-01:before {
  content: "\e97a";
}
.jc-bar-chart-circle-02:before {
  content: "\e97b";
}
.jc-bar-chart-circle-03:before {
  content: "\e97c";
}
.jc-bar-chart-square-01:before {
  content: "\e97d";
}
.jc-bar-chart-square-02:before {
  content: "\e97e";
}
.jc-bar-chart-square-03:before {
  content: "\e97f";
}
.jc-bar-chart-square-down:before {
  content: "\e980";
}
.jc-bar-chart-square-minus:before {
  content: "\e981";
}
.jc-bar-chart-square-plus:before {
  content: "\e982";
}
.jc-bar-chart-square-up:before {
  content: "\e983";
}
.jc-bar-line-chart:before {
  content: "\e984";
}
.jc-battery-charging-01:before {
  content: "\e985";
}
.jc-battery-charging-02:before {
  content: "\e986";
}
.jc-battery-empty:before {
  content: "\e987";
}
.jc-battery-full:before {
  content: "\e988";
}
.jc-battery-low:before {
  content: "\e989";
}
.jc-battery-mid:before {
  content: "\e98a";
}
.jc-beaker-01:before {
  content: "\e98b";
}
.jc-beaker-02:before {
  content: "\e98c";
}
.jc-bell-01:before {
  content: "\e98d";
}
.jc-bell-02:before {
  content: "\e98e";
}
.jc-bell-03:before {
  content: "\e98f";
}
.jc-bell-04:before {
  content: "\e990";
}
.jc-bell-minus:before {
  content: "\e991";
}
.jc-bell-off-01:before {
  content: "\e992";
}
.jc-bell-off-02:before {
  content: "\e993";
}
.jc-bell-off-03:before {
  content: "\e994";
}
.jc-bell-plus:before {
  content: "\e995";
}
.jc-bell-ringing-01:before {
  content: "\e996";
}
.jc-bell-ringing-02:before {
  content: "\e997";
}
.jc-bell-ringing-03:before {
  content: "\e998";
}
.jc-bell-ringing-04:before {
  content: "\e999";
}
.jc-bezier-curve-01:before {
  content: "\e99a";
}
.jc-bezier-curve-02:before {
  content: "\e99b";
}
.jc-bezier-curve-03:before {
  content: "\e99c";
}
.jc-bluetooth-connect:before {
  content: "\e99d";
}
.jc-bluetooth-off:before {
  content: "\e99e";
}
.jc-bluetooth-on:before {
  content: "\e99f";
}
.jc-bluetooth-signal:before {
  content: "\e9a0";
}
.jc-bold-01:before {
  content: "\e9a1";
}
.jc-bold-02:before {
  content: "\e9a2";
}
.jc-bold-square:before {
  content: "\e9a3";
}
.jc-book-closed:before {
  content: "\e9a4";
}
.jc-book-open-01:before {
  content: "\e9a5";
}
.jc-book-open-02:before {
  content: "\e9a6";
}
.jc-bookmark:before {
  content: "\e9a7";
}
.jc-bookmark-add:before {
  content: "\e9a8";
}
.jc-bookmark-check:before {
  content: "\e9a9";
}
.jc-bookmark-minus:before {
  content: "\e9aa";
}
.jc-bookmark-x:before {
  content: "\e9ab";
}
.jc-box:before {
  content: "\e9ac";
}
.jc-brackets:before {
  content: "\e9ad";
}
.jc-brackets-check:before {
  content: "\e9ae";
}
.jc-brackets-ellipses:before {
  content: "\e9af";
}
.jc-brackets-minus:before {
  content: "\e9b0";
}
.jc-brackets-plus:before {
  content: "\e9b1";
}
.jc-brackets-slash:before {
  content: "\e9b2";
}
.jc-brackets-x:before {
  content: "\e9b3";
}
.jc-briefcase-01:before {
  content: "\e9b4";
}
.jc-briefcase-02:before {
  content: "\e9b5";
}
.jc-browser:before {
  content: "\e9b6";
}
.jc-brush-01:before {
  content: "\e9b7";
}
.jc-brush-02:before {
  content: "\e9b8";
}
.jc-brush-03:before {
  content: "\e9b9";
}
.jc-building-01:before {
  content: "\e9ba";
}
.jc-building-02:before {
  content: "\e9bb";
}
.jc-building-03:before {
  content: "\e9bc";
}
.jc-building-04:before {
  content: "\e9bd";
}
.jc-building-05:before {
  content: "\e9be";
}
.jc-building-06:before {
  content: "\e9bf";
}
.jc-building-07:before {
  content: "\e9c0";
}
.jc-building-08:before {
  content: "\e9c1";
}
.jc-bus:before {
  content: "\e9c2";
}
.jc-calculator:before {
  content: "\e9c3";
}
.jc-calendar:before {
  content: "\e9c4";
}
.jc-calendar-check-01:before {
  content: "\e9c5";
}
.jc-calendar-check-02:before {
  content: "\e9c6";
}
.jc-calendar-date:before {
  content: "\e9c7";
}
.jc-calendar-heart-01:before {
  content: "\e9c8";
}
.jc-calendar-heart-02:before {
  content: "\e9c9";
}
.jc-calendar-minus-01:before {
  content: "\e9ca";
}
.jc-calendar-minus-02:before {
  content: "\e9cb";
}
.jc-calendar-plus-01:before {
  content: "\e9cc";
}
.jc-calendar-plus-02:before {
  content: "\e9cd";
}
.jc-camera-01:before {
  content: "\e9ce";
}
.jc-camera-02:before {
  content: "\e9cf";
}
.jc-camera-03:before {
  content: "\e9d0";
}
.jc-camera-lens:before {
  content: "\e9d1";
}
.jc-camera-off:before {
  content: "\e9d2";
}
.jc-camera-plus:before {
  content: "\e9d3";
}
.jc-car-01:before {
  content: "\e9d4";
}
.jc-car-02:before {
  content: "\e9d5";
}
.jc-certificate-01:before {
  content: "\e9d6";
}
.jc-certificate-02:before {
  content: "\e9d7";
}
.jc-chart-breakout-circle:before {
  content: "\e9d8";
}
.jc-chart-breakout-square:before {
  content: "\e9d9";
}
.jc-check:before {
  content: "\e9da";
}
.jc-check-circle:before {
  content: "\e9db";
}
.jc-check-circle-broken:before {
  content: "\e9dc";
}
.jc-check-done-01:before {
  content: "\e9dd";
}
.jc-check-done-02:before {
  content: "\e9de";
}
.jc-check-heart:before {
  content: "\e9df";
}
.jc-check-square:before {
  content: "\e9e0";
}
.jc-check-square-broken:before {
  content: "\e9e1";
}
.jc-check-verified-01:before {
  content: "\e9e2";
}
.jc-check-verified-02:before {
  content: "\e9e3";
}
.jc-check-verified-03:before {
  content: "\e9e4";
}
.jc-chevron-down:before {
  content: "\e9e5";
}
.jc-chevron-down-double:before {
  content: "\e9e6";
}
.jc-chevron-left:before {
  content: "\e9e7";
}
.jc-chevron-left-double:before {
  content: "\e9e8";
}
.jc-chevron-right:before {
  content: "\e9e9";
}
.jc-chevron-right-double:before {
  content: "\e9ea";
}
.jc-chevron-selector-horizontal:before {
  content: "\e9eb";
}
.jc-chevron-selector-vertical:before {
  content: "\e9ec";
}
.jc-chevron-up:before {
  content: "\e9ed";
}
.jc-chevron-up-double:before {
  content: "\e9ee";
}
.jc-chrome-cast:before {
  content: "\e9ef";
}
.jc-circle:before {
  content: "\e9f0";
}
.jc-circle-cut:before {
  content: "\e9f1";
}
.jc-clapperboard:before {
  content: "\e9f2";
}
.jc-clipboard:before {
  content: "\e9f3";
}
.jc-clipboard-attachment:before {
  content: "\e9f4";
}
.jc-clipboard-check:before {
  content: "\e9f5";
}
.jc-clipboard-download:before {
  content: "\e9f6";
}
.jc-clipboard-minus:before {
  content: "\e9f7";
}
.jc-clipboard-plus:before {
  content: "\e9f8";
}
.jc-clipboard-x:before {
  content: "\e9f9";
}
.jc-clock:before {
  content: "\e9fa";
}
.jc-clock-check:before {
  content: "\e9fb";
}
.jc-clock-fast-forward:before {
  content: "\e9fc";
}
.jc-clock-plus:before {
  content: "\e9fd";
}
.jc-clock-refresh:before {
  content: "\e9fe";
}
.jc-clock-rewind:before {
  content: "\e9ff";
}
.jc-clock-snooze:before {
  content: "\ea00";
}
.jc-clock-stopwatch:before {
  content: "\ea01";
}
.jc-cloud-01:before {
  content: "\ea02";
}
.jc-cloud-02:before {
  content: "\ea03";
}
.jc-cloud-03:before {
  content: "\ea04";
}
.jc-cloud-blank-01:before {
  content: "\ea05";
}
.jc-cloud-blank-02:before {
  content: "\ea06";
}
.jc-cloud-lightning:before {
  content: "\ea07";
}
.jc-cloud-moon:before {
  content: "\ea08";
}
.jc-cloud-off:before {
  content: "\ea09";
}
.jc-cloud-raining-01:before {
  content: "\ea0a";
}
.jc-cloud-raining-02:before {
  content: "\ea0b";
}
.jc-cloud-raining-03:before {
  content: "\ea0c";
}
.jc-cloud-raining-04:before {
  content: "\ea0d";
}
.jc-cloud-raining-05:before {
  content: "\ea0e";
}
.jc-cloud-raining-06:before {
  content: "\ea0f";
}
.jc-cloud-snowing-01:before {
  content: "\ea10";
}
.jc-cloud-snowing-02:before {
  content: "\ea11";
}
.jc-cloud-sun-01:before {
  content: "\ea12";
}
.jc-cloud-sun-02:before {
  content: "\ea13";
}
.jc-cloud-sun-03:before {
  content: "\ea14";
}
.jc-code-01:before {
  content: "\ea15";
}
.jc-code-02:before {
  content: "\ea16";
}
.jc-code-browser:before {
  content: "\ea17";
}
.jc-code-circle-01:before {
  content: "\ea18";
}
.jc-code-circle-02:before {
  content: "\ea19";
}
.jc-code-circle-03:before {
  content: "\ea1a";
}
.jc-code-snippet-01:before {
  content: "\ea1b";
}
.jc-code-snippet-02:before {
  content: "\ea1c";
}
.jc-code-square-01:before {
  content: "\ea1d";
}
.jc-code-square-02:before {
  content: "\ea1e";
}
.jc-codepen:before {
  content: "\ea1f";
}
.jc-coins-01:before {
  content: "\ea20";
}
.jc-coins-02:before {
  content: "\ea21";
}
.jc-coins-03:before {
  content: "\ea22";
}
.jc-coins-04:before {
  content: "\ea23";
}
.jc-coins-hand:before {
  content: "\ea24";
}
.jc-coins-stacked-01:before {
  content: "\ea25";
}
.jc-coins-stacked-02:before {
  content: "\ea26";
}
.jc-coins-stacked-03:before {
  content: "\ea27";
}
.jc-coins-stacked-04:before {
  content: "\ea28";
}
.jc-coins-swap-01:before {
  content: "\ea29";
}
.jc-coins-swap-02:before {
  content: "\ea2a";
}
.jc-colors:before {
  content: "\ea2b";
}
.jc-colors1:before {
  content: "\ea2c";
}
.jc-columns-01:before {
  content: "\ea2d";
}
.jc-columns-02:before {
  content: "\ea2e";
}
.jc-columns-03:before {
  content: "\ea2f";
}
.jc-command:before {
  content: "\ea30";
}
.jc-compass:before {
  content: "\ea31";
}
.jc-compass-01:before {
  content: "\ea32";
}
.jc-compass-02:before {
  content: "\ea33";
}
.jc-compass-03:before {
  content: "\ea34";
}
.jc-container:before {
  content: "\ea35";
}
.jc-contrast-01:before {
  content: "\ea36";
}
.jc-contrast-02:before {
  content: "\ea37";
}
.jc-contrast-03:before {
  content: "\ea38";
}
.jc-copy-01:before {
  content: "\ea39";
}
.jc-copy-02:before {
  content: "\ea3a";
}
.jc-copy-03:before {
  content: "\ea3b";
}
.jc-copy-04:before {
  content: "\ea3c";
}
.jc-copy-05:before {
  content: "\ea3d";
}
.jc-copy-06:before {
  content: "\ea3e";
}
.jc-copy-07:before {
  content: "\ea3f";
}
.jc-corner-down-left:before {
  content: "\ea40";
}
.jc-corner-down-right:before {
  content: "\ea41";
}
.jc-corner-left-down:before {
  content: "\ea42";
}
.jc-corner-left-up:before {
  content: "\ea43";
}
.jc-corner-right-down:before {
  content: "\ea44";
}
.jc-corner-right-up:before {
  content: "\ea45";
}
.jc-corner-up-left:before {
  content: "\ea46";
}
.jc-corner-up-right:before {
  content: "\ea47";
}
.jc-cpu-chip-01:before {
  content: "\ea48";
}
.jc-cpu-chip-02:before {
  content: "\ea49";
}
.jc-credit-card-01:before {
  content: "\ea4a";
}
.jc-credit-card-02:before {
  content: "\ea4b";
}
.jc-credit-card-check:before {
  content: "\ea4c";
}
.jc-credit-card-down:before {
  content: "\ea4d";
}
.jc-credit-card-download:before {
  content: "\ea4e";
}
.jc-credit-card-edit:before {
  content: "\ea4f";
}
.jc-credit-card-lock:before {
  content: "\ea50";
}
.jc-credit-card-minus:before {
  content: "\ea51";
}
.jc-credit-card-plus:before {
  content: "\ea52";
}
.jc-credit-card-refresh:before {
  content: "\ea53";
}
.jc-credit-card-search:before {
  content: "\ea54";
}
.jc-credit-card-shield:before {
  content: "\ea55";
}
.jc-credit-card-up:before {
  content: "\ea56";
}
.jc-credit-card-upload:before {
  content: "\ea57";
}
.jc-credit-card-x:before {
  content: "\ea58";
}
.jc-crop-01:before {
  content: "\ea59";
}
.jc-crop-02:before {
  content: "\ea5a";
}
.jc-cryptocurrency-01:before {
  content: "\ea5b";
}
.jc-cryptocurrency-02:before {
  content: "\ea5c";
}
.jc-cryptocurrency-03:before {
  content: "\ea5d";
}
.jc-cryptocurrency-04:before {
  content: "\ea5e";
}
.jc-cube-01:before {
  content: "\ea5f";
}
.jc-cube-02:before {
  content: "\ea60";
}
.jc-cube-03:before {
  content: "\ea61";
}
.jc-cube-04:before {
  content: "\ea62";
}
.jc-cube-outline:before {
  content: "\ea63";
}
.jc-currency-bitcoin:before {
  content: "\ea64";
}
.jc-currency-bitcoin-circle:before {
  content: "\ea65";
}
.jc-currency-dollar:before {
  content: "\ea66";
}
.jc-currency-dollar-circle:before {
  content: "\ea67";
}
.jc-currency-ethereum:before {
  content: "\ea68";
}
.jc-currency-ethereum-circle:before {
  content: "\ea69";
}
.jc-currency-euro:before {
  content: "\ea6a";
}
.jc-currency-euro-circle:before {
  content: "\ea6b";
}
.jc-currency-pound:before {
  content: "\ea6c";
}
.jc-currency-pound-circle:before {
  content: "\ea6d";
}
.jc-currency-ruble:before {
  content: "\ea6e";
}
.jc-currency-ruble-circle:before {
  content: "\ea6f";
}
.jc-currency-rupee:before {
  content: "\ea70";
}
.jc-currency-rupee-circle:before {
  content: "\ea71";
}
.jc-currency-yen:before {
  content: "\ea72";
}
.jc-currency-yen-circle:before {
  content: "\ea73";
}
.jc-cursor-01:before {
  content: "\ea74";
}
.jc-cursor-02:before {
  content: "\ea75";
}
.jc-cursor-03:before {
  content: "\ea76";
}
.jc-cursor-04:before {
  content: "\ea77";
}
.jc-cursor-box:before {
  content: "\ea78";
}
.jc-cursor-click-01:before {
  content: "\ea79";
}
.jc-cursor-click-02:before {
  content: "\ea7a";
}
.jc-data:before {
  content: "\ea7b";
}
.jc-database-01:before {
  content: "\ea7c";
}
.jc-database-02:before {
  content: "\ea7d";
}
.jc-database-03:before {
  content: "\ea7e";
}
.jc-dataflow-01:before {
  content: "\ea7f";
}
.jc-dataflow-02:before {
  content: "\ea80";
}
.jc-dataflow-03:before {
  content: "\ea81";
}
.jc-dataflow-04:before {
  content: "\ea82";
}
.jc-delete:before {
  content: "\ea83";
}
.jc-diamond-01:before {
  content: "\ea84";
}
.jc-diamond-02:before {
  content: "\ea85";
}
.jc-dice-1:before {
  content: "\ea86";
}
.jc-dice-2:before {
  content: "\ea87";
}
.jc-dice-3:before {
  content: "\ea88";
}
.jc-dice-4:before {
  content: "\ea89";
}
.jc-dice-5:before {
  content: "\ea8a";
}
.jc-dice-6:before {
  content: "\ea8b";
}
.jc-disc-01:before {
  content: "\ea8c";
}
.jc-disc-02:before {
  content: "\ea8d";
}
.jc-distribute-spacing-horizontal:before {
  content: "\ea8e";
}
.jc-distribute-spacing-vertical:before {
  content: "\ea8f";
}
.jc-divide-01:before {
  content: "\ea90";
}
.jc-divide-02:before {
  content: "\ea91";
}
.jc-divide-03:before {
  content: "\ea92";
}
.jc-divider:before {
  content: "\ea93";
}
.jc-dotpoints-01:before {
  content: "\ea94";
}
.jc-dotpoints-02:before {
  content: "\ea95";
}
.jc-dots-grid:before {
  content: "\ea96";
}
.jc-dots-horizontal:before {
  content: "\ea97";
}
.jc-dots-vertical:before {
  content: "\ea98";
}
.jc-download-01:before {
  content: "\ea99";
}
.jc-download-02:before {
  content: "\ea9a";
}
.jc-download-03:before {
  content: "\ea9b";
}
.jc-download-04:before {
  content: "\ea9c";
}
.jc-download-cloud-01:before {
  content: "\ea9d";
}
.jc-download-cloud-02:before {
  content: "\ea9e";
}
.jc-drop:before {
  content: "\ea9f";
}
.jc-droplets-01:before {
  content: "\eaa0";
}
.jc-droplets-02:before {
  content: "\eaa1";
}
.jc-droplets-03:before {
  content: "\eaa2";
}
.jc-dropper:before {
  content: "\eaa3";
}
.jc-edit-01:before {
  content: "\eaa4";
}
.jc-edit-02:before {
  content: "\eaa5";
}
.jc-edit-03:before {
  content: "\eaa6";
}
.jc-edit-04:before {
  content: "\eaa7";
}
.jc-edit-05:before {
  content: "\eaa8";
}
.jc-equal:before {
  content: "\eaa9";
}
.jc-equal-not:before {
  content: "\eaaa";
}
.jc-eraser:before {
  content: "\eaab";
}
.jc-expand-01:before {
  content: "\eaac";
}
.jc-expand-02:before {
  content: "\eaad";
}
.jc-expand-03:before {
  content: "\eaae";
}
.jc-expand-04:before {
  content: "\eaaf";
}
.jc-expand-05:before {
  content: "\eab0";
}
.jc-expand-06:before {
  content: "\eab1";
}
.jc-eye:before {
  content: "\eab2";
}
.jc-eye-off:before {
  content: "\eab3";
}
.jc-face-content:before {
  content: "\eab4";
}
.jc-face-frown:before {
  content: "\eab5";
}
.jc-face-happy:before {
  content: "\eab6";
}
.jc-face-id:before {
  content: "\eab7";
}
.jc-face-id-square:before {
  content: "\eab8";
}
.jc-face-neutral:before {
  content: "\eab9";
}
.jc-face-sad:before {
  content: "\eaba";
}
.jc-face-smile:before {
  content: "\eabb";
}
.jc-face-wink:before {
  content: "\eabc";
}
.jc-fast-backward:before {
  content: "\eabd";
}
.jc-fast-forward:before {
  content: "\eabe";
}
.jc-feather:before {
  content: "\eabf";
}
.jc-figma:before {
  content: "\eac0";
}
.jc-file-01:before {
  content: "\eac1";
}
.jc-file-02:before {
  content: "\eac2";
}
.jc-file-03:before {
  content: "\eac3";
}
.jc-file-04:before {
  content: "\eac4";
}
.jc-file-05:before {
  content: "\eac5";
}
.jc-file-06:before {
  content: "\eac6";
}
.jc-file-07:before {
  content: "\eac7";
}
.jc-file-attachment-01:before {
  content: "\eac8";
}
.jc-file-attachment-02:before {
  content: "\eac9";
}
.jc-file-attachment-03:before {
  content: "\eaca";
}
.jc-file-attachment-04:before {
  content: "\eacb";
}
.jc-file-attachment-05:before {
  content: "\eacc";
}
.jc-file-check-01:before {
  content: "\eacd";
}
.jc-file-check-02:before {
  content: "\eace";
}
.jc-file-check-03:before {
  content: "\eacf";
}
.jc-file-code-01:before {
  content: "\ead0";
}
.jc-file-code-02:before {
  content: "\ead1";
}
.jc-file-download-01:before {
  content: "\ead2";
}
.jc-file-download-02:before {
  content: "\ead3";
}
.jc-file-download-03:before {
  content: "\ead4";
}
.jc-file-heart-01:before {
  content: "\ead5";
}
.jc-file-heart-02:before {
  content: "\ead6";
}
.jc-file-heart-03:before {
  content: "\ead7";
}
.jc-file-lock-01:before {
  content: "\ead8";
}
.jc-file-lock-02:before {
  content: "\ead9";
}
.jc-file-lock-03:before {
  content: "\eada";
}
.jc-file-minus-01:before {
  content: "\eadb";
}
.jc-file-minus-02:before {
  content: "\eadc";
}
.jc-file-minus-03:before {
  content: "\eadd";
}
.jc-file-plus-01:before {
  content: "\eade";
}
.jc-file-plus-02:before {
  content: "\eadf";
}
.jc-file-plus-03:before {
  content: "\eae0";
}
.jc-file-question-01:before {
  content: "\eae1";
}
.jc-file-question-02:before {
  content: "\eae2";
}
.jc-file-question-03:before {
  content: "\eae3";
}
.jc-file-search-01:before {
  content: "\eae4";
}
.jc-file-search-02:before {
  content: "\eae5";
}
.jc-file-search-03:before {
  content: "\eae6";
}
.jc-file-shield-01:before {
  content: "\eae7";
}
.jc-file-shield-02:before {
  content: "\eae8";
}
.jc-file-shield-03:before {
  content: "\eae9";
}
.jc-file-x-01:before {
  content: "\eaea";
}
.jc-file-x-02:before {
  content: "\eaeb";
}
.jc-file-x-03:before {
  content: "\eaec";
}
.jc-film-01:before {
  content: "\eaed";
}
.jc-film-02:before {
  content: "\eaee";
}
.jc-film-03:before {
  content: "\eaef";
}
.jc-filter-funnel-01:before {
  content: "\eaf0";
}
.jc-filter-funnel-02:before {
  content: "\eaf1";
}
.jc-filter-lines:before {
  content: "\eaf2";
}
.jc-fingerprint-01:before {
  content: "\eaf3";
}
.jc-fingerprint-02:before {
  content: "\eaf4";
}
.jc-fingerprint-03:before {
  content: "\eaf5";
}
.jc-fingerprint-04:before {
  content: "\eaf6";
}
.jc-flag-01:before {
  content: "\eaf7";
}
.jc-flag-02:before {
  content: "\eaf8";
}
.jc-flag-03:before {
  content: "\eaf9";
}
.jc-flag-04:before {
  content: "\eafa";
}
.jc-flag-05:before {
  content: "\eafb";
}
.jc-flag-06:before {
  content: "\eafc";
}
.jc-flash:before {
  content: "\eafd";
}
.jc-flash-off:before {
  content: "\eafe";
}
.jc-flex-align-bottom:before {
  content: "\eaff";
}
.jc-flex-align-left:before {
  content: "\eb00";
}
.jc-flex-align-right:before {
  content: "\eb01";
}
.jc-flex-align-top:before {
  content: "\eb02";
}
.jc-flip-backward:before {
  content: "\eb03";
}
.jc-flip-forward:before {
  content: "\eb04";
}
.jc-folder:before {
  content: "\eb05";
}
.jc-folder-check:before {
  content: "\eb06";
}
.jc-folder-closed:before {
  content: "\eb07";
}
.jc-folder-code:before {
  content: "\eb08";
}
.jc-folder-download:before {
  content: "\eb09";
}
.jc-folder-lock:before {
  content: "\eb0a";
}
.jc-folder-minus:before {
  content: "\eb0b";
}
.jc-folder-plus:before {
  content: "\eb0c";
}
.jc-folder-question:before {
  content: "\eb0d";
}
.jc-folder-search:before {
  content: "\eb0e";
}
.jc-folder-shield:before {
  content: "\eb0f";
}
.jc-folder-x:before {
  content: "\eb10";
}
.jc-framer:before {
  content: "\eb11";
}
.jc-gaming-pad-01:before {
  content: "\eb12";
}
.jc-gaming-pad-02:before {
  content: "\eb13";
}
.jc-gift-01:before {
  content: "\eb14";
}
.jc-gift-02:before {
  content: "\eb15";
}
.jc-git-branch-01:before {
  content: "\eb16";
}
.jc-git-branch-02:before {
  content: "\eb17";
}
.jc-git-commit:before {
  content: "\eb18";
}
.jc-git-merge:before {
  content: "\eb19";
}
.jc-git-pull-request:before {
  content: "\eb1a";
}
.jc-glasses-01:before {
  content: "\eb1b";
}
.jc-glasses-02:before {
  content: "\eb1c";
}
.jc-globe-01:before {
  content: "\eb1d";
}
.jc-globe-02:before {
  content: "\eb1e";
}
.jc-globe-03:before {
  content: "\eb1f";
}
.jc-globe-04:before {
  content: "\eb20";
}
.jc-globe-05:before {
  content: "\eb21";
}
.jc-globe-06:before {
  content: "\eb22";
}
.jc-globe-slated-01:before {
  content: "\eb23";
}
.jc-globe-slated-02:before {
  content: "\eb24";
}
.jc-google-chrome:before {
  content: "\eb25";
}
.jc-graduation-hat-01:before {
  content: "\eb26";
}
.jc-graduation-hat-02:before {
  content: "\eb27";
}
.jc-grid-01:before {
  content: "\eb28";
}
.jc-grid-02:before {
  content: "\eb29";
}
.jc-grid-03:before {
  content: "\eb2a";
}
.jc-grid-dots-blank:before {
  content: "\eb2b";
}
.jc-grid-dots-bottom:before {
  content: "\eb2c";
}
.jc-grid-dots-horizontal-center:before {
  content: "\eb2d";
}
.jc-grid-dots-left:before {
  content: "\eb2e";
}
.jc-grid-dots-outer:before {
  content: "\eb2f";
}
.jc-grid-dots-right:before {
  content: "\eb30";
}
.jc-grid-dots-top:before {
  content: "\eb31";
}
.jc-grid-dots-vertical-center:before {
  content: "\eb32";
}
.jc-hand:before {
  content: "\eb33";
}
.jc-hard-drive:before {
  content: "\eb34";
}
.jc-hash-01:before {
  content: "\eb35";
}
.jc-hash-02:before {
  content: "\eb36";
}
.jc-heading-01:before {
  content: "\eb37";
}
.jc-heading-02:before {
  content: "\eb38";
}
.jc-heading-square:before {
  content: "\eb39";
}
.jc-headphones-01:before {
  content: "\eb3a";
}
.jc-headphones-02:before {
  content: "\eb3b";
}
.jc-heart:before {
  content: "\eb3c";
}
.jc-heart-circle:before {
  content: "\eb3d";
}
.jc-heart-hand:before {
  content: "\eb3e";
}
.jc-heart-hexagon:before {
  content: "\eb3f";
}
.jc-heart-octagon:before {
  content: "\eb40";
}
.jc-heart-rounded:before {
  content: "\eb41";
}
.jc-heart-square:before {
  content: "\eb42";
}
.jc-hearts:before {
  content: "\eb43";
}
.jc-help-circle:before {
  content: "\eb44";
}
.jc-help-hexagon:before {
  content: "\eb45";
}
.jc-help-octagon:before {
  content: "\eb46";
}
.jc-help-square:before {
  content: "\eb47";
}
.jc-hexagon-01:before {
  content: "\eb48";
}
.jc-hexagon-02:before {
  content: "\eb49";
}
.jc-home-01:before {
  content: "\eb4a";
}
.jc-home-02:before {
  content: "\eb4b";
}
.jc-home-03:before {
  content: "\eb4c";
}
.jc-home-04:before {
  content: "\eb4d";
}
.jc-home-05:before {
  content: "\eb4e";
}
.jc-home-line:before {
  content: "\eb4f";
}
.jc-home-smile:before {
  content: "\eb50";
}
.jc-horizontal-bar-chart-01:before {
  content: "\eb51";
}
.jc-horizontal-bar-chart-02:before {
  content: "\eb52";
}
.jc-horizontal-bar-chart-03:before {
  content: "\eb53";
}
.jc-hourglass-01:before {
  content: "\eb54";
}
.jc-hourglass-02:before {
  content: "\eb55";
}
.jc-hourglass-03:before {
  content: "\eb56";
}
.jc-hurricane-01:before {
  content: "\eb57";
}
.jc-hurricane-02:before {
  content: "\eb58";
}
.jc-hurricane-03:before {
  content: "\eb59";
}
.jc-image-01:before {
  content: "\eb5a";
}
.jc-image-02:before {
  content: "\eb5b";
}
.jc-image-03:before {
  content: "\eb5c";
}
.jc-image-04:before {
  content: "\eb5d";
}
.jc-image-05:before {
  content: "\eb5e";
}
.jc-image-check:before {
  content: "\eb5f";
}
.jc-image-down:before {
  content: "\eb60";
}
.jc-image-indent-left:before {
  content: "\eb61";
}
.jc-image-indent-right:before {
  content: "\eb62";
}
.jc-image-left:before {
  content: "\eb63";
}
.jc-image-plus:before {
  content: "\eb64";
}
.jc-image-right:before {
  content: "\eb65";
}
.jc-image-up:before {
  content: "\eb66";
}
.jc-image-user:before {
  content: "\eb67";
}
.jc-image-user-check:before {
  content: "\eb68";
}
.jc-image-user-down:before {
  content: "\eb69";
}
.jc-image-user-left:before {
  content: "\eb6a";
}
.jc-image-user-plus:before {
  content: "\eb6b";
}
.jc-image-user-right:before {
  content: "\eb6c";
}
.jc-image-user-up:before {
  content: "\eb6d";
}
.jc-image-user-x:before {
  content: "\eb6e";
}
.jc-image-x:before {
  content: "\eb6f";
}
.jc-inbox-01:before {
  content: "\eb70";
}
.jc-inbox-02:before {
  content: "\eb71";
}
.jc-infinity:before {
  content: "\eb72";
}
.jc-info-circle:before {
  content: "\eb73";
}
.jc-info-hexagon:before {
  content: "\eb74";
}
.jc-info-octagon:before {
  content: "\eb75";
}
.jc-info-square:before {
  content: "\eb76";
}
.jc-intersect-circle:before {
  content: "\eb77";
}
.jc-intersect-square:before {
  content: "\eb78";
}
.jc-italic-01:before {
  content: "\eb79";
}
.jc-italic-02:before {
  content: "\eb7a";
}
.jc-italic-square:before {
  content: "\eb7b";
}
.jc-key-01:before {
  content: "\eb7c";
}
.jc-key-02:before {
  content: "\eb7d";
}
.jc-keyboard-01:before {
  content: "\eb7e";
}
.jc-keyboard-02:before {
  content: "\eb7f";
}
.jc-laptop-01:before {
  content: "\eb80";
}
.jc-laptop-02:before {
  content: "\eb81";
}
.jc-layer-single:before {
  content: "\eb82";
}
.jc-layers-three-01:before {
  content: "\eb83";
}
.jc-layers-three-02:before {
  content: "\eb84";
}
.jc-layers-two-01:before {
  content: "\eb85";
}
.jc-layers-two-02:before {
  content: "\eb86";
}
.jc-layout-alt-01:before {
  content: "\eb87";
}
.jc-layout-alt-02:before {
  content: "\eb88";
}
.jc-layout-alt-03:before {
  content: "\eb89";
}
.jc-layout-alt-04:before {
  content: "\eb8a";
}
.jc-layout-bottom:before {
  content: "\eb8b";
}
.jc-layout-grid-01:before {
  content: "\eb8c";
}
.jc-layout-grid-02:before {
  content: "\eb8d";
}
.jc-layout-left:before {
  content: "\eb8e";
}
.jc-layout-right:before {
  content: "\eb8f";
}
.jc-layout-top:before {
  content: "\eb90";
}
.jc-left-indent-01:before {
  content: "\eb91";
}
.jc-left-indent-02:before {
  content: "\eb92";
}
.jc-letter-spacing-01:before {
  content: "\eb93";
}
.jc-letter-spacing-02:before {
  content: "\eb94";
}
.jc-life-buoy-01:before {
  content: "\eb95";
}
.jc-life-buoy-02:before {
  content: "\eb96";
}
.jc-lightbulb-01:before {
  content: "\eb97";
}
.jc-lightbulb-02:before {
  content: "\eb98";
}
.jc-lightbulb-03:before {
  content: "\eb99";
}
.jc-lightbulb-04:before {
  content: "\eb9a";
}
.jc-lightbulb-05:before {
  content: "\eb9b";
}
.jc-lightning-01:before {
  content: "\eb9c";
}
.jc-lightning-02:before {
  content: "\eb9d";
}
.jc-line-chart-down-01:before {
  content: "\eb9e";
}
.jc-line-chart-down-02:before {
  content: "\eb9f";
}
.jc-line-chart-down-03:before {
  content: "\eba0";
}
.jc-line-chart-down-04:before {
  content: "\eba1";
}
.jc-line-chart-down-05:before {
  content: "\eba2";
}
.jc-line-chart-up-01:before {
  content: "\eba3";
}
.jc-line-chart-up-02:before {
  content: "\eba4";
}
.jc-line-chart-up-03:before {
  content: "\eba5";
}
.jc-line-chart-up-04:before {
  content: "\eba6";
}
.jc-line-chart-up-05:before {
  content: "\eba7";
}
.jc-line-height:before {
  content: "\eba8";
}
.jc-link-01:before {
  content: "\eba9";
}
.jc-link-02:before {
  content: "\ebaa";
}
.jc-link-03:before {
  content: "\ebab";
}
.jc-link-04:before {
  content: "\ebac";
}
.jc-link-05:before {
  content: "\ebad";
}
.jc-link-broken-01:before {
  content: "\ebae";
}
.jc-link-broken-02:before {
  content: "\ebaf";
}
.jc-link-external-01:before {
  content: "\ebb0";
}
.jc-link-external-02:before {
  content: "\ebb1";
}
.jc-list:before {
  content: "\ebb2";
}
.jc-loading-01:before {
  content: "\ebb3";
}
.jc-loading-02:before {
  content: "\ebb4";
}
.jc-loading-03:before {
  content: "\ebb5";
}
.jc-lock-01:before {
  content: "\ebb6";
}
.jc-lock-02:before {
  content: "\ebb7";
}
.jc-lock-03:before {
  content: "\ebb8";
}
.jc-lock-04:before {
  content: "\ebb9";
}
.jc-lock-keyhole-circle:before {
  content: "\ebba";
}
.jc-lock-keyhole-square:before {
  content: "\ebbb";
}
.jc-lock-unlocked-01:before {
  content: "\ebbc";
}
.jc-lock-unlocked-02:before {
  content: "\ebbd";
}
.jc-lock-unlocked-03:before {
  content: "\ebbe";
}
.jc-lock-unlocked-04:before {
  content: "\ebbf";
}
.jc-log-in-01:before {
  content: "\ebc0";
}
.jc-log-in-02:before {
  content: "\ebc1";
}
.jc-log-in-03:before {
  content: "\ebc2";
}
.jc-log-in-04:before {
  content: "\ebc3";
}
.jc-log-out-01:before {
  content: "\ebc4";
}
.jc-log-out-02:before {
  content: "\ebc5";
}
.jc-log-out-03:before {
  content: "\ebc6";
}
.jc-log-out-04:before {
  content: "\ebc7";
}
.jc-logo:before {
  content: "\ed95";
}
.jc-logo-full:before {
  content: "\ed96";
}
.jc-luggage-01:before {
  content: "\ebc8";
}
.jc-luggage-02:before {
  content: "\ebc9";
}
.jc-luggage-03:before {
  content: "\ebca";
}
.jc-magic-wand-01:before {
  content: "\ebcb";
}
.jc-magic-wand-02:before {
  content: "\ebcc";
}
.jc-mail-01:before {
  content: "\ebcd";
}
.jc-mail-02:before {
  content: "\ebce";
}
.jc-mail-03:before {
  content: "\ebcf";
}
.jc-mail-04:before {
  content: "\ebd0";
}
.jc-mail-05:before {
  content: "\ebd1";
}
.jc-map-01:before {
  content: "\ebd2";
}
.jc-map-02:before {
  content: "\ebd3";
}
.jc-mark:before {
  content: "\ebd4";
}
.jc-marker-pin-01:before {
  content: "\ebd5";
}
.jc-marker-pin-02:before {
  content: "\ebd6";
}
.jc-marker-pin-03:before {
  content: "\ebd7";
}
.jc-marker-pin-04:before {
  content: "\ebd8";
}
.jc-marker-pin-05:before {
  content: "\ebd9";
}
.jc-marker-pin-06:before {
  content: "\ebda";
}
.jc-maximize-01:before {
  content: "\ebdb";
}
.jc-maximize-02:before {
  content: "\ebdc";
}
.jc-medical-circle:before {
  content: "\ebdd";
}
.jc-medical-cross:before {
  content: "\ebde";
}
.jc-medical-square:before {
  content: "\ebdf";
}
.jc-menu-01:before {
  content: "\ebe0";
}
.jc-menu-02:before {
  content: "\ebe1";
}
.jc-menu-03:before {
  content: "\ebe2";
}
.jc-menu-04:before {
  content: "\ebe3";
}
.jc-menu-05:before {
  content: "\ebe4";
}
.jc-message-alert-circle:before {
  content: "\ebe5";
}
.jc-message-alert-square:before {
  content: "\ebe6";
}
.jc-message-chat-circle:before {
  content: "\ebe7";
}
.jc-message-chat-square:before {
  content: "\ebe8";
}
.jc-message-check-circle:before {
  content: "\ebe9";
}
.jc-message-check-square:before {
  content: "\ebea";
}
.jc-message-circle-01:before {
  content: "\ebeb";
}
.jc-message-circle-02:before {
  content: "\ebec";
}
.jc-message-dots-circle:before {
  content: "\ebed";
}
.jc-message-dots-square:before {
  content: "\ebee";
}
.jc-message-heart-circle:before {
  content: "\ebef";
}
.jc-message-heart-square:before {
  content: "\ebf0";
}
.jc-message-notification-circle:before {
  content: "\ebf1";
}
.jc-message-notification-square:before {
  content: "\ebf2";
}
.jc-message-plus-circle:before {
  content: "\ebf3";
}
.jc-message-plus-square:before {
  content: "\ebf4";
}
.jc-message-question-circle:before {
  content: "\ebf5";
}
.jc-message-question-square:before {
  content: "\ebf6";
}
.jc-message-smile-circle:before {
  content: "\ebf7";
}
.jc-message-smile-square:before {
  content: "\ebf8";
}
.jc-message-square-01:before {
  content: "\ebf9";
}
.jc-message-square-02:before {
  content: "\ebfa";
}
.jc-message-text-circle-01:before {
  content: "\ebfb";
}
.jc-message-text-circle-02:before {
  content: "\ebfc";
}
.jc-message-text-square-01:before {
  content: "\ebfd";
}
.jc-message-text-square-02:before {
  content: "\ebfe";
}
.jc-message-x-circle:before {
  content: "\ebff";
}
.jc-message-x-square:before {
  content: "\ec00";
}
.jc-microphone-01:before {
  content: "\ec01";
}
.jc-microphone-02:before {
  content: "\ec02";
}
.jc-microphone-off-01:before {
  content: "\ec03";
}
.jc-microphone-off-02:before {
  content: "\ec04";
}
.jc-microscope:before {
  content: "\ec05";
}
.jc-minimize-01:before {
  content: "\ec06";
}
.jc-minimize-02:before {
  content: "\ec07";
}
.jc-minus:before {
  content: "\ec08";
}
.jc-minus-circle:before {
  content: "\ec09";
}
.jc-minus-square:before {
  content: "\ec0a";
}
.jc-modem-01:before {
  content: "\ec0b";
}
.jc-modem-02:before {
  content: "\ec0c";
}
.jc-monitor-01:before {
  content: "\ec0d";
}
.jc-monitor-02:before {
  content: "\ec0e";
}
.jc-monitor-03:before {
  content: "\ec0f";
}
.jc-monitor-04:before {
  content: "\ec10";
}
.jc-monitor-05:before {
  content: "\ec11";
}
.jc-moon-01:before {
  content: "\ec12";
}
.jc-moon-02:before {
  content: "\ec13";
}
.jc-moon-eclipse:before {
  content: "\ec14";
}
.jc-moon-star:before {
  content: "\ec15";
}
.jc-mouse:before {
  content: "\ec16";
}
.jc-move:before {
  content: "\ec17";
}
.jc-music-note-01:before {
  content: "\ec18";
}
.jc-music-note-02:before {
  content: "\ec19";
}
.jc-music-note-plus:before {
  content: "\ec1a";
}
.jc-navigation-pointer-01:before {
  content: "\ec1b";
}
.jc-navigation-pointer-02:before {
  content: "\ec1c";
}
.jc-navigation-pointer-off-01:before {
  content: "\ec1d";
}
.jc-navigation-pointer-off-02:before {
  content: "\ec1e";
}
.jc-notification-box:before {
  content: "\ec1f";
}
.jc-notification-message:before {
  content: "\ec20";
}
.jc-notification-text:before {
  content: "\ec21";
}
.jc-octagon:before {
  content: "\ec22";
}
.jc-package:before {
  content: "\ec23";
}
.jc-package-check:before {
  content: "\ec24";
}
.jc-package-minus:before {
  content: "\ec25";
}
.jc-package-plus:before {
  content: "\ec26";
}
.jc-package-search:before {
  content: "\ec27";
}
.jc-package-x:before {
  content: "\ec28";
}
.jc-paint:before {
  content: "\ec29";
}
.jc-paint-pour:before {
  content: "\ec2a";
}
.jc-palette:before {
  content: "\ec2b";
}
.jc-paperclip:before {
  content: "\ec2c";
}
.jc-paragraph-spacing:before {
  content: "\ec2d";
}
.jc-paragraph-wrap:before {
  content: "\ec2e";
}
.jc-passcode:before {
  content: "\ec2f";
}
.jc-passcode-lock:before {
  content: "\ec30";
}
.jc-passport:before {
  content: "\ec31";
}
.jc-pause-circle:before {
  content: "\ec32";
}
.jc-pause-square:before {
  content: "\ec33";
}
.jc-pen-tool-01:before {
  content: "\ec34";
}
.jc-pen-tool-02:before {
  content: "\ec35";
}
.jc-pen-tool-minus:before {
  content: "\ec36";
}
.jc-pen-tool-plus:before {
  content: "\ec37";
}
.jc-pencil-01:before {
  content: "\ec38";
}
.jc-pencil-02:before {
  content: "\ec39";
}
.jc-pencil-line:before {
  content: "\ec3a";
}
.jc-pentagon:before {
  content: "\ec3b";
}
.jc-percent-01:before {
  content: "\ec3c";
}
.jc-percent-02:before {
  content: "\ec3d";
}
.jc-percent-03:before {
  content: "\ec3e";
}
.jc-perspective-01:before {
  content: "\ec3f";
}
.jc-perspective-02:before {
  content: "\ec40";
}
.jc-phone:before {
  content: "\ec41";
}
.jc-phone-01:before {
  content: "\ec42";
}
.jc-phone-02:before {
  content: "\ec43";
}
.jc-phone-call-01:before {
  content: "\ec44";
}
.jc-phone-call-02:before {
  content: "\ec45";
}
.jc-phone-hang-up:before {
  content: "\ec46";
}
.jc-phone-incoming-01:before {
  content: "\ec47";
}
.jc-phone-incoming-02:before {
  content: "\ec48";
}
.jc-phone-outgoing-01:before {
  content: "\ec49";
}
.jc-phone-outgoing-02:before {
  content: "\ec4a";
}
.jc-phone-pause:before {
  content: "\ec4b";
}
.jc-phone-plus:before {
  content: "\ec4c";
}
.jc-phone-x:before {
  content: "\ec4d";
}
.jc-pie-chart-01:before {
  content: "\ec4e";
}
.jc-pie-chart-02:before {
  content: "\ec4f";
}
.jc-pie-chart-03:before {
  content: "\ec50";
}
.jc-pie-chart-04:before {
  content: "\ec51";
}
.jc-piggy-bank-01:before {
  content: "\ec52";
}
.jc-piggy-bank-02:before {
  content: "\ec53";
}
.jc-pilcrow-01:before {
  content: "\ec54";
}
.jc-pilcrow-02:before {
  content: "\ec55";
}
.jc-pilcrow-square:before {
  content: "\ec56";
}
.jc-pin-01:before {
  content: "\ec57";
}
.jc-pin-02:before {
  content: "\ec58";
}
.jc-placeholder:before {
  content: "\ec59";
}
.jc-plane:before {
  content: "\ec5a";
}
.jc-play:before {
  content: "\ec5b";
}
.jc-play-circle:before {
  content: "\ec5c";
}
.jc-play-square:before {
  content: "\ec5d";
}
.jc-plus:before {
  content: "\ec5e";
}
.jc-plus-circle:before {
  content: "\ec5f";
}
.jc-plus-square:before {
  content: "\ec60";
}
.jc-podcast:before {
  content: "\ec61";
}
.jc-power-01:before {
  content: "\ec62";
}
.jc-power-02:before {
  content: "\ec63";
}
.jc-power-03:before {
  content: "\ec64";
}
.jc-presentation-chart-01:before {
  content: "\ec65";
}
.jc-presentation-chart-02:before {
  content: "\ec66";
}
.jc-presentation-chart-03:before {
  content: "\ec67";
}
.jc-printer:before {
  content: "\ec68";
}
.jc-puzzle-piece-01:before {
  content: "\ec69";
}
.jc-puzzle-piece-02:before {
  content: "\ec6a";
}
.jc-qr-code-01:before {
  content: "\ec6b";
}
.jc-qr-code-02:before {
  content: "\ec6c";
}
.jc-receipt:before {
  content: "\ec6d";
}
.jc-receipt-check:before {
  content: "\ec6e";
}
.jc-recording-01:before {
  content: "\ec6f";
}
.jc-recording-02:before {
  content: "\ec70";
}
.jc-recording-03:before {
  content: "\ec71";
}
.jc-reflect-01:before {
  content: "\ec72";
}
.jc-reflect-02:before {
  content: "\ec73";
}
.jc-refresh-ccw-01:before {
  content: "\ec74";
}
.jc-refresh-ccw-02:before {
  content: "\ec75";
}
.jc-refresh-ccw-03:before {
  content: "\ec76";
}
.jc-refresh-ccw-04:before {
  content: "\ec77";
}
.jc-refresh-ccw-05:before {
  content: "\ec78";
}
.jc-refresh-cw-01:before {
  content: "\ec79";
}
.jc-refresh-cw-02:before {
  content: "\ec7a";
}
.jc-refresh-cw-03:before {
  content: "\ec7b";
}
.jc-refresh-cw-04:before {
  content: "\ec7c";
}
.jc-refresh-cw-05:before {
  content: "\ec7d";
}
.jc-repeat-01:before {
  content: "\ec7e";
}
.jc-repeat-02:before {
  content: "\ec7f";
}
.jc-repeat-03:before {
  content: "\ec80";
}
.jc-repeat-04:before {
  content: "\ec81";
}
.jc-reverse-left:before {
  content: "\ec82";
}
.jc-reverse-right:before {
  content: "\ec83";
}
.jc-right-indent-01:before {
  content: "\ec84";
}
.jc-right-indent-02:before {
  content: "\ec85";
}
.jc-rocket-01:before {
  content: "\ec86";
}
.jc-rocket-02:before {
  content: "\ec87";
}
.jc-roller-brush:before {
  content: "\ec88";
}
.jc-route:before {
  content: "\ec89";
}
.jc-rows-01:before {
  content: "\ec8a";
}
.jc-rows-02:before {
  content: "\ec8b";
}
.jc-rows-03:before {
  content: "\ec8c";
}
.jc-rss-01:before {
  content: "\ec8d";
}
.jc-rss-02:before {
  content: "\ec8e";
}
.jc-ruler:before {
  content: "\ec8f";
}
.jc-safe:before {
  content: "\ec90";
}
.jc-sale-01:before {
  content: "\ec91";
}
.jc-sale-02:before {
  content: "\ec92";
}
.jc-sale-03:before {
  content: "\ec93";
}
.jc-sale-04:before {
  content: "\ec94";
}
.jc-save-01:before {
  content: "\ec95";
}
.jc-save-02:before {
  content: "\ec96";
}
.jc-save-03:before {
  content: "\ec97";
}
.jc-scale-01:before {
  content: "\ec98";
}
.jc-scale-02:before {
  content: "\ec99";
}
.jc-scale-03:before {
  content: "\ec9a";
}
.jc-scales-01:before {
  content: "\ec9b";
}
.jc-scales-02:before {
  content: "\ec9c";
}
.jc-scan:before {
  content: "\ec9d";
}
.jc-scissors-01:before {
  content: "\ec9e";
}
.jc-scissors-02:before {
  content: "\ec9f";
}
.jc-scissors-cut-01:before {
  content: "\eca0";
}
.jc-scissors-cut-02:before {
  content: "\eca1";
}
.jc-search-lg:before {
  content: "\eca2";
}
.jc-search-md:before {
  content: "\eca3";
}
.jc-search-refraction:before {
  content: "\eca4";
}
.jc-search-sm:before {
  content: "\eca5";
}
.jc-send-01:before {
  content: "\eca6";
}
.jc-send-02:before {
  content: "\eca7";
}
.jc-send-03:before {
  content: "\eca8";
}
.jc-server-01:before {
  content: "\eca9";
}
.jc-server-02:before {
  content: "\ecaa";
}
.jc-server-03:before {
  content: "\ecab";
}
.jc-server-04:before {
  content: "\ecac";
}
.jc-server-05:before {
  content: "\ecad";
}
.jc-server-06:before {
  content: "\ecae";
}
.jc-settings-01:before {
  content: "\ecaf";
}
.jc-settings-02:before {
  content: "\ecb0";
}
.jc-settings-03:before {
  content: "\ecb1";
}
.jc-settings-04:before {
  content: "\ecb2";
}
.jc-share-01:before {
  content: "\ecb3";
}
.jc-share-02:before {
  content: "\ecb4";
}
.jc-share-03:before {
  content: "\ecb5";
}
.jc-share-04:before {
  content: "\ecb6";
}
.jc-share-05:before {
  content: "\ecb7";
}
.jc-share-06:before {
  content: "\ecb8";
}
.jc-share-07:before {
  content: "\ecb9";
}
.jc-shield-01:before {
  content: "\ecba";
}
.jc-shield-02:before {
  content: "\ecbb";
}
.jc-shield-03:before {
  content: "\ecbc";
}
.jc-shield-dollar:before {
  content: "\ecbd";
}
.jc-shield-off:before {
  content: "\ecbe";
}
.jc-shield-plus:before {
  content: "\ecbf";
}
.jc-shield-tick:before {
  content: "\ecc0";
}
.jc-shield-zap:before {
  content: "\ecc1";
}
.jc-shopping-bag-01:before {
  content: "\ecc2";
}
.jc-shopping-bag-02:before {
  content: "\ecc3";
}
.jc-shopping-bag-03:before {
  content: "\ecc4";
}
.jc-shopping-cart-01:before {
  content: "\ecc5";
}
.jc-shopping-cart-02:before {
  content: "\ecc6";
}
.jc-shopping-cart-03:before {
  content: "\ecc7";
}
.jc-shuffle-01:before {
  content: "\ecc8";
}
.jc-shuffle-02:before {
  content: "\ecc9";
}
.jc-signal-01:before {
  content: "\ecca";
}
.jc-signal-02:before {
  content: "\eccb";
}
.jc-signal-03:before {
  content: "\eccc";
}
.jc-simcard:before {
  content: "\eccd";
}
.jc-skew:before {
  content: "\ecce";
}
.jc-skip-back:before {
  content: "\eccf";
}
.jc-skip-forward:before {
  content: "\ecd0";
}
.jc-slash-circle-01:before {
  content: "\ecd1";
}
.jc-slash-circle-02:before {
  content: "\ecd2";
}
.jc-slash-divider:before {
  content: "\ecd3";
}
.jc-slash-octagon:before {
  content: "\ecd4";
}
.jc-sliders-01:before {
  content: "\ecd5";
}
.jc-sliders-02:before {
  content: "\ecd6";
}
.jc-sliders-03:before {
  content: "\ecd7";
}
.jc-sliders-04:before {
  content: "\ecd8";
}
.jc-snowflake-01:before {
  content: "\ecd9";
}
.jc-snowflake-02:before {
  content: "\ecda";
}
.jc-spacing-height-01:before {
  content: "\ecdb";
}
.jc-spacing-height-02:before {
  content: "\ecdc";
}
.jc-spacing-width-01:before {
  content: "\ecdd";
}
.jc-spacing-width-02:before {
  content: "\ecde";
}
.jc-speaker-01:before {
  content: "\ecdf";
}
.jc-speaker-02:before {
  content: "\ece0";
}
.jc-speaker-03:before {
  content: "\ece1";
}
.jc-speedometer-01:before {
  content: "\ece2";
}
.jc-speedometer-02:before {
  content: "\ece3";
}
.jc-speedometer-03:before {
  content: "\ece4";
}
.jc-speedometer-04:before {
  content: "\ece5";
}
.jc-square:before {
  content: "\ece6";
}
.jc-stand:before {
  content: "\ece7";
}
.jc-star-01:before {
  content: "\ece8";
}
.jc-star-02:before {
  content: "\ece9";
}
.jc-star-03:before {
  content: "\ecea";
}
.jc-star-04:before {
  content: "\eceb";
}
.jc-star-05:before {
  content: "\ecec";
}
.jc-star-06:before {
  content: "\eced";
}
.jc-star-07:before {
  content: "\ecee";
}
.jc-stars-01:before {
  content: "\ecef";
}
.jc-stars-02:before {
  content: "\ecf0";
}
.jc-stars-03:before {
  content: "\ecf1";
}
.jc-sticker-circle:before {
  content: "\ecf2";
}
.jc-sticker-square:before {
  content: "\ecf3";
}
.jc-stop:before {
  content: "\ecf4";
}
.jc-stop-circle:before {
  content: "\ecf5";
}
.jc-stop-square:before {
  content: "\ecf6";
}
.jc-strikethrough-01:before {
  content: "\ecf7";
}
.jc-strikethrough-02:before {
  content: "\ecf8";
}
.jc-strikethrough-square:before {
  content: "\ecf9";
}
.jc-subscript:before {
  content: "\ecfa";
}
.jc-sun:before {
  content: "\ecfb";
}
.jc-sun-setting-01:before {
  content: "\ecfc";
}
.jc-sun-setting-02:before {
  content: "\ecfd";
}
.jc-sun-setting-03:before {
  content: "\ecfe";
}
.jc-sunrise:before {
  content: "\ecff";
}
.jc-sunset:before {
  content: "\ed00";
}
.jc-switch-horizontal-01:before {
  content: "\ed01";
}
.jc-switch-horizontal-02:before {
  content: "\ed02";
}
.jc-switch-vertical-01:before {
  content: "\ed03";
}
.jc-switch-vertical-02:before {
  content: "\ed04";
}
.jc-table:before {
  content: "\ed05";
}
.jc-tablet-01:before {
  content: "\ed06";
}
.jc-tablet-02:before {
  content: "\ed07";
}
.jc-tag-01:before {
  content: "\ed08";
}
.jc-tag-02:before {
  content: "\ed09";
}
.jc-tag-03:before {
  content: "\ed0a";
}
.jc-target-01:before {
  content: "\ed0b";
}
.jc-target-02:before {
  content: "\ed0c";
}
.jc-target-03:before {
  content: "\ed0d";
}
.jc-target-04:before {
  content: "\ed0e";
}
.jc-target-05:before {
  content: "\ed0f";
}
.jc-telescope:before {
  content: "\ed10";
}
.jc-terminal:before {
  content: "\ed11";
}
.jc-terminal-browser:before {
  content: "\ed12";
}
.jc-terminal-circle:before {
  content: "\ed13";
}
.jc-terminal-square:before {
  content: "\ed14";
}
.jc-text-input:before {
  content: "\ed15";
}
.jc-thermometer-01:before {
  content: "\ed16";
}
.jc-thermometer-02:before {
  content: "\ed17";
}
.jc-thermometer-03:before {
  content: "\ed18";
}
.jc-thermometer-cold:before {
  content: "\ed19";
}
.jc-thermometer-warm:before {
  content: "\ed1a";
}
.jc-thumbs-down:before {
  content: "\ed1b";
}
.jc-thumbs-up:before {
  content: "\ed1c";
}
.jc-ticket-01:before {
  content: "\ed1d";
}
.jc-ticket-02:before {
  content: "\ed1e";
}
.jc-toggle-01-left:before {
  content: "\ed1f";
}
.jc-toggle-01-right:before {
  content: "\ed20";
}
.jc-toggle-02-left:before {
  content: "\ed21";
}
.jc-toggle-02-right:before {
  content: "\ed22";
}
.jc-toggle-03-left:before {
  content: "\ed23";
}
.jc-toggle-03-right:before {
  content: "\ed24";
}
.jc-tool-01:before {
  content: "\ed25";
}
.jc-tool-02:before {
  content: "\ed26";
}
.jc-train:before {
  content: "\ed27";
}
.jc-tram:before {
  content: "\ed28";
}
.jc-transform:before {
  content: "\ed29";
}
.jc-translate-01:before {
  content: "\ed2a";
}
.jc-translate-02:before {
  content: "\ed2b";
}
.jc-trash-01:before {
  content: "\ed2c";
}
.jc-trash-02:before {
  content: "\ed2d";
}
.jc-trash-03:before {
  content: "\ed2e";
}
.jc-trash-04:before {
  content: "\ed2f";
}
.jc-trend-down-01:before {
  content: "\ed30";
}
.jc-trend-down-02:before {
  content: "\ed31";
}
.jc-trend-up-01:before {
  content: "\ed32";
}
.jc-trend-up-02:before {
  content: "\ed33";
}
.jc-triangle:before {
  content: "\ed34";
}
.jc-trophy-01:before {
  content: "\ed35";
}
.jc-trophy-02:before {
  content: "\ed36";
}
.jc-truck-01:before {
  content: "\ed37";
}
.jc-truck-02:before {
  content: "\ed38";
}
.jc-tv-01:before {
  content: "\ed39";
}
.jc-tv-02:before {
  content: "\ed3a";
}
.jc-tv-03:before {
  content: "\ed3b";
}
.jc-type-01:before {
  content: "\ed3c";
}
.jc-type-02:before {
  content: "\ed3d";
}
.jc-type-square:before {
  content: "\ed3e";
}
.jc-type-strikethrough-01:before {
  content: "\ed3f";
}
.jc-type-strikethrough-02:before {
  content: "\ed40";
}
.jc-umbrella-01:before {
  content: "\ed41";
}
.jc-umbrella-02:before {
  content: "\ed42";
}
.jc-umbrella-03:before {
  content: "\ed43";
}
.jc-underline-01:before {
  content: "\ed44";
}
.jc-underline-02:before {
  content: "\ed45";
}
.jc-underline-square:before {
  content: "\ed46";
}
.jc-upload-01:before {
  content: "\ed47";
}
.jc-upload-02:before {
  content: "\ed48";
}
.jc-upload-03:before {
  content: "\ed49";
}
.jc-upload-04:before {
  content: "\ed4a";
}
.jc-upload-cloud-01:before {
  content: "\ed4b";
}
.jc-upload-cloud-02:before {
  content: "\ed4c";
}
.jc-usb-flash-drive:before {
  content: "\ed4d";
}
.jc-user-01:before {
  content: "\ed4e";
}
.jc-user-02:before {
  content: "\ed4f";
}
.jc-user-03:before {
  content: "\ed50";
}
.jc-user-check-01:before {
  content: "\ed51";
}
.jc-user-check-02:before {
  content: "\ed52";
}
.jc-user-circle:before {
  content: "\ed53";
}
.jc-user-down-01:before {
  content: "\ed54";
}
.jc-user-down-02:before {
  content: "\ed55";
}
.jc-user-edit:before {
  content: "\ed56";
}
.jc-user-left-01:before {
  content: "\ed57";
}
.jc-user-left-02:before {
  content: "\ed58";
}
.jc-user-minus-01:before {
  content: "\ed59";
}
.jc-user-minus-02:before {
  content: "\ed5a";
}
.jc-user-plus-01:before {
  content: "\ed5b";
}
.jc-user-plus-02:before {
  content: "\ed5c";
}
.jc-user-right-01:before {
  content: "\ed5d";
}
.jc-user-right-02:before {
  content: "\ed5e";
}
.jc-user-square:before {
  content: "\ed5f";
}
.jc-user-up-01:before {
  content: "\ed60";
}
.jc-user-up-02:before {
  content: "\ed61";
}
.jc-user-x-01:before {
  content: "\ed62";
}
.jc-user-x-02:before {
  content: "\ed63";
}
.jc-users-01:before {
  content: "\ed64";
}
.jc-users-02:before {
  content: "\ed65";
}
.jc-users-03:before {
  content: "\ed66";
}
.jc-users-check:before {
  content: "\ed67";
}
.jc-users-down:before {
  content: "\ed68";
}
.jc-users-edit:before {
  content: "\ed69";
}
.jc-users-left:before {
  content: "\ed6a";
}
.jc-users-minus:before {
  content: "\ed6b";
}
.jc-users-plus:before {
  content: "\ed6c";
}
.jc-users-right:before {
  content: "\ed6d";
}
.jc-users-up:before {
  content: "\ed6e";
}
.jc-users-x:before {
  content: "\ed6f";
}
.jc-variable:before {
  content: "\ed70";
}
.jc-video-recorder:before {
  content: "\ed71";
}
.jc-video-recorder-off:before {
  content: "\ed72";
}
.jc-virus:before {
  content: "\ed73";
}
.jc-voicemail:before {
  content: "\ed74";
}
.jc-volume-max:before {
  content: "\ed75";
}
.jc-volume-min:before {
  content: "\ed76";
}
.jc-volume-minus:before {
  content: "\ed77";
}
.jc-volume-plus:before {
  content: "\ed78";
}
.jc-volume-x:before {
  content: "\ed79";
}
.jc-wallet-01:before {
  content: "\ed7a";
}
.jc-wallet-02:before {
  content: "\ed7b";
}
.jc-wallet-03:before {
  content: "\ed7c";
}
.jc-wallet-04:before {
  content: "\ed7d";
}
.jc-wallet-05:before {
  content: "\ed7e";
}
.jc-watch-circle:before {
  content: "\ed7f";
}
.jc-watch-square:before {
  content: "\ed80";
}
.jc-waves:before {
  content: "\ed81";
}
.jc-webcam-01:before {
  content: "\ed82";
}
.jc-webcam-02:before {
  content: "\ed83";
}
.jc-wifi:before {
  content: "\ed84";
}
.jc-wifi-off:before {
  content: "\ed85";
}
.jc-wind-01:before {
  content: "\ed86";
}
.jc-wind-02:before {
  content: "\ed87";
}
.jc-wind-03:before {
  content: "\ed88";
}
.jc-x:before {
  content: "\ed89";
}
.jc-x-circle:before {
  content: "\ed8a";
}
.jc-x-close:before {
  content: "\ed8b";
}
.jc-x-square:before {
  content: "\ed8c";
}
.jc-youtube:before {
  content: "\ed8d";
}
.jc-zap:before {
  content: "\ed8e";
}
.jc-zap-circle:before {
  content: "\ed8f";
}
.jc-zap-fast:before {
  content: "\ed90";
}
.jc-zap-off:before {
  content: "\ed91";
}
.jc-zap-square:before {
  content: "\ed92";
}
.jc-zoom-in:before {
  content: "\ed93";
}
.jc-zoom-out:before {
  content: "\ed94";
}
